<div class="multi-stage-form">
    <div class="container">
        <form id="conveyancing_multistep_form" class="banner-form" action="https://conveyancingprices.co.uk/" method="post" novalidate="novalidate" inspfaactive="true">
            <input type="hidden" name="lenders" id="lenders" value="">
            <input type="hidden" name="sstartType" id="sstartType" value="2382">
            <input type="hidden" name="conveyancing_action" id="conveyancing_action" value="formValidate">
            <input type="hidden" name="conveyancing_url" id="conveyancing_url" value="https://conveyancingprices.co.uk/">
            <input type="hidden" name="plugin_url" id="plugin_url" value="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing">
            <input type="hidden" name="engine" id="engine" value="">
            <input type="hidden" name="campaign" id="campaign" value="">
            <input type="hidden" name="ad_group" id="ad_group" value="">
            <input type="hidden" name="match_type" id="match_type" value="">
            <input type="hidden" name="network" id="network" value="">
            <input type="hidden" name="device" id="device" value="">
            <input type="hidden" name="creative" id="creative" value="">
            <input type="hidden" name="keyword" id="keyword" value="">
            <input type="hidden" name="query" id="query" value="">
            <input type="hidden" name="gclid" id="gclid" value="">
            <input type="hidden" name="errorField" id="errorField" value="">
            <input type="hidden" name="cnt_increment" id="cnt_increment" value="1">
            <input type="hidden" name="cnt_minutes" id="cnt_minutes" value="720000">
            <input type="hidden" name="total_cnt" id="total_cnt" value="0">
            <input type="hidden" name="conveyancing_quote_label" id="conveyancing_quote_label" value="What is your conveyancing quote for?">
            <input type="hidden" name="sell_lh_fh_property_label" id="sell_lh_fh_property_label" value="Freehold or leasehold on the property you are <strong><u>selling</u></strong>?">
            <input type="hidden" name="sell_purchase_mortgage_property_label" id="sell_purchase_mortgage_property_label" value="Is there a mortgage on the property you are <strong><u>selling</u></strong>?"><input type="hidden" name="sale_shared_ownership_label" id="sale_shared_ownership_label" value="Is the property you are <strong><u>selling</u></strong> owned via the Shared Ownership Scheme?">
            <input type="hidden" name="sell_mortgage_property_label" id="sell_mortgage_property_label" value="Is there an existing mortgage on the property?">
            <input type="hidden" name="no_sellers_label" id="no_sellers_label" value="Number of sellers">
            <input type="hidden" name="selling_property_price_label" id="selling_property_price_label" value="Price of property you are <strong><u>selling</u></strong>">
            <input type="hidden" name="sell_property_postcode_label" id="sell_property_postcode_label" value="Postcode of property you are <strong><u>selling</u></strong>">
            <input type="hidden" name="buy_lh_fh_property_label" id="buy_lh_fh_property_label" value="Freehold or leasehold on the property you are <strong><u>buying</u></strong>?">
            <input type="hidden" name="obtaining_mortgage_label" id="obtaining_mortgage_label" value="Are you obtaining a mortgage?">
            <input type="hidden" name="sale_purhase_obtaining_mortgage_label" id="sale_purhase_obtaining_mortgage_label" value="Are you obtaining a mortgage on the property you are <strong><u>buying</u></strong>?">
            <input type="hidden" name="provider_lender_label" id="provider_lender_label" value="Which mortgage provider / lender?">
            <input type="hidden" name="first_time_buyer_label" id="first_time_buyer_label" value="Are you a first time buyer?">
            <input type="hidden" name="no_buyers_label" id="no_buyers_label" value="Number of buyers">
            <input type="hidden" name="newbuild_property_label" id="newbuild_property_label" value="Is the property a newbuild?">
            <input type="hidden" name="sale_purchase_newbuild_property_label" id="sale_purchase_newbuild_property_label" value="Is the property you are <strong><u>buying</u></strong> a newbuild?"><input type="hidden" name="purchase_buy_to_let_label" id="purchase_buy_to_let_label" value="Is the property you are <strong><u>buying</u></strong> a buy to let?">
            <input type="hidden" name="second_home_label" id="second_home_label" value="Is this going to be an additional purchase / second home?">
            <input type="hidden" name="purchase_schemes_label" id="purchase_schemes_label" value="Are you using any of the following purchase schemes?"><input type="hidden" name="purchase_shared_ownership_label" id="purchase_shared_ownership_label" value="For the property you are <strong><u>buying</u></strong>, are you using the Shared Ownership scheme?">
            <input type="hidden" name="buying_property_price_label" id="buying_property_price_label" value="Price of property you are <strong><u>buying</u></strong>">
            <input type="hidden" name="purchase_property_postcode_label" id="purchase_property_postcode_label" value="Postcode of property you are <strong><u>buying</u></strong>">
            <input type="hidden" name="remortgage_lh_fh_property_label" id="remortgage_lh_fh_property_label" value="Freehold or leasehold on the property you are remortgaging?">
            <input type="hidden" name="people_remortgaging_label" id="people_remortgaging_label" value="Number of people remortgaging">
            <input type="hidden" name="buy_to_let_label" id="buy_to_let_label" value="Is it a buy to let?">
            <input type="hidden" name="remortgaged_property_label" id="remortgaged_property_label" value="Value of property being remortgaged">
            <input type="hidden" name="remortgage_property_postcode_label" id="remortgage_property_postcode_label" value="Postcode of property being remortgaged">
            <input type="hidden" name="looking_to_instruct_label" id="looking_to_instruct_label" value="When are you looking to instruct?">
            <input type="hidden" name="special_instruction_label" id="special_instruction_label" value="Do you want to provide any extra information?">
            <input type="hidden" name="about_me_label" id="about_me_label" value="About me">
            <input type="hidden" name="first_name_label" id="first_name_label" value="First name">
            <input type="hidden" name="last_name_label" id="last_name_label" value="Last name">
            <input type="hidden" name="email_label" id="email_label" value="Email">
            <input type="hidden" name="phone_label" id="phone_label" value="Phone number">
            <input type="hidden" name="next_btn_label" id="next_btn_label" value="Next">
            <input type="hidden" name="back_btn_label" id="back_btn_label" value="Back">
            <input type="hidden" name="submit_btn_label" id="submit_btn_label" value="Submit"><input type="hidden" name="consent_error_msg" id="consent_error_msg" value="Please check I agree to the terms and conditions">
            <fieldset class="conveyancing_quote_div" style="display: block;">
                <div class="form-group">
                    <label class="question-label">What is your conveyancing quote for?</label>
                    <div class="row radio-div conveyancing_quote valid" data-toggle="buttons">
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio active">
                            <label class="radio-ans">
                                <span class="center-content">
                                    <input type="radio" name="quote_type" id="purchase" value="Purchase only" required="" aria-required="true" style="outline: none;">
                                    <span class="label-text">Purchase only</span>
                                    <span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span>
                                    <span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span>
                                </span>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio">
                            <label class="radio-ans">
                                <span class="center-content">
                                    <input type="radio" name="quote_type" id="sale_purchase" value="Sale and purchase" required="" aria-required="true" style="outline: none;">
                                    <span class="label-text">Sale and purchase</span>
                                    <span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span>
                                    <span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span>
                                </span>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio">
                            <label class="radio-ans">
                                <span class="center-content">
                                    <input type="radio" name="quote_type" id="sale" value="Sale only" required="" aria-required="true" style="outline: none;">
                                    <span class="label-text">Sale only</span>
                                    <span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span>
                                    <span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span>
                                </span>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio">
                            <label class="radio-ans">
                                <span class="center-content">
                                    <input type="radio" name="quote_type" id="remortgage" value="Remortgage" required="" aria-required="true" style="outline: none;">
                                    <span class="label-text">Remortgage</span>
                                    <span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span>
                                    <span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span>
                                </span>
                            </label></div>
                    </div>
                    <label class="error conveyancing_quote_error_msg" style="display:none;">Please select an option then click next</label>
                </div>
                <button type="button" name="next" class="next btn btn-block btn-next btn-hide-section" style="outline: none;"> Next <i class="x-icon mvn mln mrs x-icon-arrow-circle-right" data-x-icon="" aria-hidden="true"></i></button>
            </fieldset>
            <fieldset class="buy_fh_lh_div" style="display: none;">
                <div class="form-group"><label class="question-label">Freehold or leasehold on the property you are <strong><u>buying</u></strong>?</label>
                    <div class="row radio-div buy_fh_lh" data-toggle="buttons">
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content">
                                    <input type="radio" name="buy_fh_lh" id="buy_lh" value="Leasehold" required="" aria-required="true">Leasehold
                                    <span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span>
                                    <span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span>
                                </div>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content"><input type="radio" name="buy_fh_lh" id="buy_fh" value="Freehold">Freehold<span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                    </div><label class="error buy_fh_lh_error_msg" style="display:none;">Please select an option then click next</label>
                </div> <button type="button" name="" class="next btn btn-block btn-next"> Next <i class="x-icon mvn mln mrs x-icon-arrow-circle-right" data-x-icon="" aria-hidden="true"></i></button><button type="button" name="" class="back btn btn-block btn-back btn-show-section"> <i class="x-icon mvn mln mrs x-icon-angle-left" data-x-icon="" aria-hidden="true"></i> Back</button>
            </fieldset>
            <fieldset class="obtaining_mortgage_div">
                <div class="form-group"><label class="question-label">Are you obtaining a mortgage?</label>
                    <div class="row radio-div obtaining_mortgage" data-toggle="buttons">
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio obtaining_mortgage_yes"><label class="radio-ans">
                                <div class="center-content font-40"><input type="radio" name="obtaining_mortgage" id="obtaining_mortgage_yes" value="Yes" required="" aria-required="true">Yes<span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio obtaining_mortgage_no"><label class="radio-ans">
                                <div class="center-content font-40"><input type="radio" name="obtaining_mortgage" id="obtaining_mortgage_no" value="No">No<span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                    </div><label class="error obtaining_mortgage_error_msg" style="display:none;">Please select an option then click next</label>
                </div>
                <div class="row">
                    <div class="lender_spacing col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12" id="buy_provider_lender">
                        <div class="show_buy_provider_lender" style="display:none;">
                            <div class="form-group">
                                <div class="input-form-grp"><label for="provider_lender" class="about-me-label">Which mortgage provider / lender?</label><select class="form-control" id="provider_lender" name="provider_lender">
                                        <option value="NA">Please select</option>
                                        <option value="-1" style="font-weight:bold;">Cash Purchase</option>
                                        <option value="0" style="font-weight:bold;">Not Sure Yet</option>
                                        <option value="1">Accord Mortgages</option>
                                        <option value="2">Ahli United Bank</option>
                                        <option value="3">Al Rayan Bank</option>
                                        <option value="4">Aldermore Bank</option>
                                        <option value="5">Amber Homeloans</option>
                                        <option value="6">Bank of China</option>
                                        <option value="7">Bank of Ireland</option>
                                        <option value="8">Barclays</option>
                                        <option value="9">Barnsley Building Society</option>
                                        <option value="10">Bath Building Society</option>
                                        <option value="11">Beverley Building Society</option>
                                        <option value="12">Birmingham Midshires</option>
                                        <option value="13">Britannia</option>
                                        <option value="14">Buckinghamshire Building Society</option>
                                        <option value="15">Cambridge Building Society</option>
                                        <option value="16">Chelsea Building Society</option>
                                        <option value="17">Chorley Building Society</option>
                                        <option value="18">Clydesdale Bank</option>
                                        <option value="19">Co-operative Bank</option>
                                        <option value="20">Coventry Building Society</option>
                                        <option value="21">Danske Bank</option>
                                        <option value="22">Darlington Building Society</option>
                                        <option value="23">Dudley Building Society</option>
                                        <option value="24">Earl Shilton Building Society</option>
                                        <option value="25">Ecology Building Society</option>
                                        <option value="26">Family Building Society</option>
                                        <option value="27">First Direct</option>
                                        <option value="28">First Trust Bank</option>
                                        <option value="87">Fleet Mortgages</option>
                                        <option value="29">Furness Building Society</option>
                                        <option value="30">GE Money</option>
                                        <option value="31">Halifax</option>
                                        <option value="32">Hanley Economic Building Society</option>
                                        <option value="33">Harpenden Building Society</option>
                                        <option value="34">Hinckley &amp; Rugby Building Society</option>
                                        <option value="35">Holmesdale Building Society</option>
                                        <option value="36">HSBC</option>
                                        <option value="88">Interbay</option>
                                        <option value="37">Ipswich Building Society</option>
                                        <option value="38">Kensington Mortgages</option>
                                        <option value="39">Kent Reliance (Residential)</option>
                                        <option value="40">Leeds Building Society</option>
                                        <option value="41">Leek United Building Society</option>
                                        <option value="42">Legal &amp; General</option>
                                        <option value="89">Lendinvest</option>
                                        <option value="43">Lloyds Bank</option>
                                        <option value="44">Loughborough Building Society</option>
                                        <option value="45">Manchester Building Society</option>
                                        <option value="46">Mansfield Building Society</option>
                                        <option value="47">Market Harborough Building Society</option>
                                        <option value="48">Marsden Building Society</option>
                                        <option value="49">Melton Mowbray Building Society</option>
                                        <option value="50">Metro Bank</option>
                                        <option value="51">Monmouthshire Building Society</option>
                                        <option value="52">Mortgage Trust</option>
                                        <option value="53">Mortgage Works UK</option>
                                        <option value="54">National Counties Building Society</option>
                                        <option value="55">Nationwide Building Society</option>
                                        <option value="56">Natwest</option>
                                        <option value="57">Newbury Building Society</option>
                                        <option value="58">Newcastle Building Society</option>
                                        <option value="59">Northern Rock (NRAM)</option>
                                        <option value="60">Norwich &amp; Peterborough Building Society</option>
                                        <option value="61">Nottingham Building Society</option>
                                        <option value="62">Paragon Mortgages</option>
                                        <option value="63">Penrith Building Society</option>
                                        <option value="64">Pink Home Loans</option>
                                        <option value="65">Platform</option>
                                        <option value="66">Post Office</option>
                                        <option value="67">Precise Mortgages</option>
                                        <option value="68">Principality Building Society</option>
                                        <option value="69">Progressive Building Society</option>
                                        <option value="70">Royal Bank of Scotland (RBS)</option>
                                        <option value="71">Saffron Building Society</option>
                                        <option value="72">Santander</option>
                                        <option value="73">Scottish Building Society</option>
                                        <option value="74">Scottish Widows</option>
                                        <option value="75">Skipton Building Society</option>
                                        <option value="76">Stafford Railway Building Society</option>
                                        <option value="77">Teachers Building Society</option>
                                        <option value="78">Tesco Bank</option>
                                        <option value="79">Tipton &amp; Coseley Building Society</option>
                                        <option value="80">TSB Bank</option>
                                        <option value="81">Ulster Bank</option>
                                        <option value="82">Virgin Money</option>
                                        <option value="83">West Bromwich Building Society</option>
                                        <option value="84">Woolwich</option>
                                        <option value="85">Yorkshire Bank</option>
                                        <option value="86">Yorkshire Building Society</option>
                                        <option value="-2">Other - Not On List</option>
                                    </select><label class="error provider_lender_error_msg" style="display:none;">Please select mortgage provider / lender or select "No" above</label></div>
                            </div>
                        </div>
                    </div>
                </div><button type="button" name="" class="next btn btn-block btn-next"> Next <i class="x-icon mvn mln mrs x-icon-arrow-circle-right" data-x-icon="" aria-hidden="true"></i></button><button type="button" name="" class="back btn btn-block btn-back"> <i class="x-icon mvn mln mrs x-icon-angle-left" data-x-icon="" aria-hidden="true"></i> Back</button>
            </fieldset>
            <fieldset class="first_time_buyer_div">
                <div class="form-group"><label class="question-label">Are you a first time buyer?</label>
                    <div class="row radio-div first_time_buyer" data-toggle="buttons">
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content font-40"><input type="radio" name="first_time_buyer" id="first_time_buyer_yes" value="Yes" required="" aria-required="true">Yes<span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content font-40"><input type="radio" name="first_time_buyer" id="first_time_buyer_no" value="No">No<span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                    </div><label class="error first_time_buyer_error_msg" style="display:none;">Please select an option then click next</label>
                </div> <button type="button" name="" class="next btn btn-block btn-next"> Next <i class="x-icon mvn mln mrs x-icon-arrow-circle-right" data-x-icon="" aria-hidden="true"></i></button><button type="button" name="" class="back btn btn-block btn-back"> <i class="x-icon mvn mln mrs x-icon-angle-left" data-x-icon="" aria-hidden="true"></i> Back</button>
            </fieldset>
            <fieldset class="no_buyers_div">
                <div class="form-group"><label class="question-label">Number of buyers</label>
                    <div class="row radio-div no_buyers" data-toggle="buttons">
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content"><input type="radio" name="no_buyers" id="buy_justme" value="1" required="" aria-required="true"><span class="label-text">Just me</span><span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content"><input type="radio" name="no_buyers" id="buy_meandother" value="2"><span class="label-text">Me and one other</span><span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content"><input type="radio" name="no_buyers" id="buy_3people" value="3"><span class="label-text">3 people</span><span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content"><input type="radio" name="no_buyers" id="buy_4people" value="4"><span class="label-text">4 people</span><span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content"><input type="radio" name="no_buyers" id="buy_5people" value="5"><span class="label-text">5 people</span><span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content"><input type="radio" name="no_buyers" id="buy_6people" value="6"><span class="label-text">6 people</span><span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                    </div><label class="error no_buyers_error_msg" style="display:none;">Please select an option then click next</label>
                </div> <button type="button" name="" class="next btn btn-block btn-next"> Next <i class="x-icon mvn mln mrs x-icon-arrow-circle-right" data-x-icon="" aria-hidden="true"></i></button><button type="button" name="" class="back btn btn-block btn-back"> <i class="x-icon mvn mln mrs x-icon-angle-left" data-x-icon="" aria-hidden="true"></i> Back</button>
            </fieldset>
            <fieldset class="build_property_div">
                <div class="form-group"><label class="question-label">Is the property a newbuild?</label>
                    <div class="row radio-div build_property" data-toggle="buttons">
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content font-40"><input type="radio" name="newbuild_property" id="newbuild_property_yes" value="Yes" required="" aria-required="true">Yes<span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content font-40"><input type="radio" name="newbuild_property" id="newbuild_property_no" value="No">No<span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                    </div><label class="error build_property_error_msg" style="display:none;">Please select an option then click next</label>
                </div> <button type="button" name="" class="next btn btn-block btn-next"> Next <i class="x-icon mvn mln mrs x-icon-arrow-circle-right" data-x-icon="" aria-hidden="true"></i></button><button type="button" name="" class="back btn btn-block btn-back"> <i class="x-icon mvn mln mrs x-icon-angle-left" data-x-icon="" aria-hidden="true"></i> Back</button>
            </fieldset>
            <fieldset class="second_home_div">
                <div class="form-group"><label class="question-label">Is this going to be an additional purchase / second home?</label>
                    <div class="row radio-div second_home" data-toggle="buttons">
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content font-40"><input type="radio" name="second_home" id="second_home_yes" value="Yes" required="" aria-required="true">Yes<span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content font-40"><input type="radio" name="second_home" id="second_home_no" value="No">No<span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                    </div><label class="error second_home_error_msg" style="display:none;">Please select an option then click next</label>
                </div> <button type="button" name="" class="next btn btn-block btn-next"> Next <i class="x-icon mvn mln mrs x-icon-arrow-circle-right" data-x-icon="" aria-hidden="true"></i></button><button type="button" name="" class="back btn btn-block btn-back"> <i class="x-icon mvn mln mrs x-icon-angle-left" data-x-icon="" aria-hidden="true"></i> Back</button>
            </fieldset>
            <fieldset class="purchase_shared_ownership_div">
                <div class="form-group"><label class="question-label">For the property you are <strong><u>buying</u></strong>, are you using the Shared Ownership scheme?</label>
                    <div class="row radio-div purchase_shared_ownership" data-toggle="buttons">
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content font-40"><input type="radio" name="purchase_shared_ownership" id="purchase_shared_ownership_yes" value="Yes" required="" aria-required="true">Yes<span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content font-40"><input type="radio" name="purchase_shared_ownership" id="purchase_shared_ownership_no" value="No">No<span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                    </div><label class="error purchase_shared_ownership_error_msg" style="display:none;">Please select an option then click next</label>
                </div> <button type="button" name="" class="next btn btn-block btn-next"> Next <i class="x-icon mvn mln mrs x-icon-arrow-circle-right" data-x-icon="" aria-hidden="true"></i></button><button type="button" name="" class="back btn btn-block btn-back"> <i class="x-icon mvn mln mrs x-icon-angle-left" data-x-icon="" aria-hidden="true"></i> Back</button>
            </fieldset>
            <fieldset class="purchase_scheme_div">
                <div class="form-group"><label class="question-label">Are you using any of the following purchase schemes?</label>
                    <div class="row radio-div purchase_scheme" data-toggle="buttons">
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content"><input type="radio" name="purchase_scheme" id="not_purchase_scheme" value="Not using purchase scheme" required="" aria-required="true"><span class="label-text">Not using purchase scheme</span><span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content"><input type="radio" name="purchase_scheme" id="help_by_isa" value="Help to buy ISA"><span class="label-text">Help to buy ISA</span><span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content"><input type="radio" name="purchase_scheme" id="help_to_buy" value="Help to buy"><span class="label-text">Help to buy</span><span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content"><input type="radio" name="purchase_scheme" id="right_to_buy" value="Right to buy"><span class="label-text">Right to buy</span><span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                    </div><label class="error purchase_scheme_error_msg" style="display:none;">Please select an option then click next</label>
                </div> <button type="button" name="" class="next btn btn-block btn-next"> Next <i class="x-icon mvn mln mrs x-icon-arrow-circle-right" data-x-icon="" aria-hidden="true"></i></button><button type="button" name="" class="back btn btn-block btn-back"> <i class="x-icon mvn mln mrs x-icon-angle-left" data-x-icon="" aria-hidden="true"></i> Back</button>
            </fieldset>
            <fieldset class="buying_property_price_div about-me">
                <div class="row buying_property_price">
                    <div class="col-md-12"><label class="question-label">Price of property you are <strong><u>buying</u></strong></label>
                        <div class="form-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span></div><input type="number" name="buying_property_price" id="buying_property_price" class="form-control " value="" inputmode="numeric" pattern="[0-9]*"><label id="buying_property_price_error" class="error buying_property_price_error_msg" style="display:none;">Please enter buying property value</label>
                        </div>
                    </div>
                </div><button type="button" name="" class="next btn btn-block btn-next"> Next <i class="x-icon mvn mln mrs x-icon-arrow-circle-right" data-x-icon="" aria-hidden="true"></i></button><button type="button" name="" class="back btn btn-block btn-back"> <i class="x-icon mvn mln mrs x-icon-angle-left" data-x-icon="" aria-hidden="true"></i> Back</button>
            </fieldset>
            <fieldset class="buy_property_postcode_div about-me">
                <div class="row buy_property_postcode">
                    <div class="col-md-12"><label class="question-label">Postcode of property you are <strong><u>buying</u></strong></label>
                        <div class="form-group"><input type="text" name="buy_property_postcode" id="buy_property_postcode" class="form-control" value=""><label id="buy_property_postcode_error" class="error buy_property_postcode_error_msg" style="display:none;">Please enter buying property postcode</label></div>
                    </div>
                </div><button type="button" name="" class="next btn btn-block btn-next"> Next <i class="x-icon mvn mln mrs x-icon-arrow-circle-right" data-x-icon="" aria-hidden="true"></i></button><button type="button" name="" class="back btn btn-block btn-back"> <i class="x-icon mvn mln mrs x-icon-angle-left" data-x-icon="" aria-hidden="true"></i> Back</button>
            </fieldset>
            <fieldset class="buy_looking_instruct_div">
                <div class="form-group"><label class="question-label">When are you looking to instruct?</label>
                    <div class="row radio-div buy_looking_instruct" data-toggle="buttons">
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content"><input type="radio" name="buy_looking_instruct" id="1week" value="Within 1 week" required="" aria-required="true"><span class="label-text">Within 1 week</span><span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content"><input type="radio" name="buy_looking_instruct" id="1month" value="Within 1 month"><span class="label-text">Within 1 month</span><span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content"><input type="radio" name="buy_looking_instruct" id="3months" value="Within 3 months"><span class="label-text">Within 3 months</span><span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio"><label class="radio-ans">
                                <div class="center-content"><input type="radio" name="buy_looking_instruct" id="notsure" value="Not sure"><span class="label-text">Not sure</span><span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span><span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span></div>
                            </label></div>
                    </div><label class="error buy_looking_instruct_error_msg" style="display:none;">Please select an option then click next</label>
                </div> <button type="button" name="" class="next btn btn-block btn-next"> Next <i class="x-icon mvn mln mrs x-icon-arrow-circle-right" data-x-icon="" aria-hidden="true"></i></button><button type="button" name="" class="back btn btn-block btn-back"> <i class="x-icon mvn mln mrs x-icon-angle-left" data-x-icon="" aria-hidden="true"></i> Back</button>
            </fieldset>
            <fieldset class="extra_info_div">
                <div class="form-group">
                    <label class="question-label">Do you want to provide any extra information?</label>
                    <div class="row radio-div extra_info" data-toggle="buttons">
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio extra-info-yes">
                            <label class="radio-ans">
                                <span class="center-content font-40">
                                    <input type="radio" name="extra_info" id="Yes" value="Yes" required="" aria-required="true"> Yes <span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span>
                                    <span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span>
                                </span>
                            </label></div>
                        <div class="col-md-2-5 col-sm-3 col-xs-12 active-radio extra-info-no">
                            <label class="radio-ans">
                                <span class="center-content font-40">
                                    <input type="radio" name="extra_info" id="No" value="No"> No <span class="radio_hover"><img alt="hand" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/hand.svg"></span>
                                    <span class="radio_active"><img alt="check" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/check.svg"></span>
                                </span>
                            </label></div>
                    </div>
                    <label class="error extra_info_error_msg" style="display:none;">Please select an option then click next</label>
                </div>
                <div class="extra-desc">
                    <div class="show-div" style="display:none;">
                        <div class="form-group">
                            <div class="input-form-grp">
                                <label for="extra_desc" class="about-me-label">Please enter your extra information here</label><textarea id="extra_desc" name="extra_desc" rows="5" cols="3" class="" maxlength="1500"></textarea>
                                <div id="count_text"></div>
                                <label class="error extra_desc_error_msg" for="extra_desc" style="display:none;">Please enter your extra information here or select "No" above</label></div>
                        </div>
                    </div>
                </div>
                <button type="button" name="next" class="next btn btn-block btn-next"> Next <i class="x-icon mvn mln mrs x-icon-arrow-circle-right" data-x-icon="" aria-hidden="true"></i></button>
                <button type="button" name="back" class="back btn btn-block btn-back"> <i class="x-icon mvn mln mrs x-icon-angle-left" data-x-icon="" aria-hidden="true"></i> Back</button>
            </fieldset>
            <fieldset class="about_me_div about-me">
                <div class="row">
                    <div class="col-md-12">
                        <label class="question-label">About me</label>
                        <div class="form-group">
                            <label for="firstname" class="about-me-label">First name</label>
                            <input type="text" name="firstname" id="firstname" maxlength="30" class="required" value="" aria-required="true"></div>
                        <div class="form-group">
                            <label for="surname" class="about-me-label">Last name</label>
                            <input type="text" name="surname" id="surname" maxlength="30" class="required" value="" aria-required="true"></div>
                        <div class="form-group">
                            <label for="email" class="about-me-label">Email</label>
                            <input type="email" name="email" id="email" class="required" value="" aria-required="true">
                            <img id="loader_email" alt="email" class="loadergif" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/input-loader.gif" title="Loader" style="display:none;"></div>
                        <div class="form-group">
                            <label for="phone" class="about-me-label">Phone number</label>
                            <input type="tel" name="phone" id="phone" class="required" value="" aria-required="true">
                            <img id="loader_phone" alt="phone" class="loadergif" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/input-loader.gif" title="Loader" style="display:none;"></div>
                    </div>
                </div>
                <button id="submit-form" type="submit" name="submit" class="submit btn btn-block btn-submit ">SEE MY QUOTES<img id="loader_submit" alt="submit" class="loadergif" src="https://conveyancingprices.co.uk/wp-content/plugins/ai-conveyancing/images/loader-spin.svg" title="Loader" style="display:none;"></button>
                <div class="checkbox" id="consent_div">
                    <label class="consent-label"><input type="hidden" value="1" name="consent" id="consent">By clicking 'See my quotes' I agree to the <a href="https://conveyancingprices.co.uk/terms-and-conditions/" target="_blank">terms and conditions</a> and <a href="https://conveyancingprices.co.uk/privacy-policy/" target="_blank">privacy policy</a>.</label></div><button type="button" name="back" class="back btn btn-block btn-back"> <i class="x-icon mvn mln mrs x-icon-angle-left" data-x-icon="" aria-hidden="true"></i> Back</button>
            </fieldset>
        </form>
        <div class="progress">
            <div class="progress-bar active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 7%;">7%</div>
        </div>
        <div class="instant-quotes" style="display: block;">See quotes instantly - it takes just 60 seconds</div>
    </div>
</div>