[v-cloak] {
  display: none; }

header {
  max-width: 1200px;
  margin: 0 auto; }

@media (min-width: 1200px) {
  .container {
    max-width: 720px; } }
@media (min-width: 992px) {
  .container {
    max-width: 720px; } }
body {
  background-color: #007bff;
  color: white; }

h1,
h5,
h3 {
  margin-top: 20px; }

i.fas {
  color: white; }

.form-control:focus {
  box-shadow: unset; }

.navbar {
  color: white;
  padding: 1rem 5rem; }
  .navbar img {
    width: 100px; }

.bg-light {
  background-color: #007bff !important; }

.navbar .rounded {
  border-radius: 5em !important;
  padding: 1rem 1rem 1rem 1rem;
  margin-top: unset; }
.navbar .btn-primary {
  background-color: white;
  color: #1a4b81; }

.navbar-light .navbar-nav .nav-link {
  color: white; }

.navbar-light .navbar-toggler {
  border-color: white; }

@media (min-width: 992px) {
  .navbar ul {
    float: right; }
  .navbar li {
    padding: 0px 20px 0px 20px; }
    .navbar li a {
      margin-top: 10px; }

  .navbar-expand-lg .navbar-collapse {
    display: block !important; } }
/* white boxes */
.white-boxes {
  max-width: 720px;
  margin: 0 auto;
  margin-top: 30px; }
  .white-boxes .d-table {
    margin-bottom: 40px; }
  .white-boxes .box-c {
    color: #1a4b81;
    font-size: 110%;
    font-weight: bold;
    height: 140px;
    width: 140px;
    text-align: center;
    box-shadow: rgba(101, 101, 101, 0.8) 0px 3px 20px;
    line-height: 20px;
    position: relative;
    background: white;
    border-radius: 30px;
    padding: 0 16px;
    cursor: pointer; }
  .white-boxes .tick {
    display: none !important;
    width: 100%;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #00c13c;
    opacity: 0.8; }
  .white-boxes .fas.fa-check {
    color: white;
    top: 30%;
    position: absolute;
    left: 30%;
    font-size: 3.2em; }
  .white-boxes .active {
    display: block !important; }
  @media (max-width: 768px) {
    .white-boxes .col-sm-12 {
      margin-bottom: 20px; }
    .white-boxes .box-c {
      height: 50px; }
    .white-boxes .fas.fa-check {
      color: white;
      top: 13%;
      position: absolute;
      left: 45%;
      font-size: 2em; } }

/* NEXT BUTTON */
.next .btn-next {
  width: 100%;
  background-color: #00c13c;
  color: white;
  border-radius: 30px;
  margin: 0px 0px 20px 0px;
  padding: 15px 20px;
  box-shadow: rgba(101, 101, 101, 0.8) 0px 3px 20px;
  font-size: 1.3em;
  text-shadow: 1px 1px 3px #414141; }
.next .fa-arrow-right {
  margin-left: 5px; }
@media (max-width: 768px) {
  .next .btn-next {
    margin: 10px 15px; } }

.back .btn-next {
  color: white; }
.back .fa-arrow-left {
  margin-right: 5px; }

.progress {
  height: 0.3rem;
  background-color: #78bbff;
  overflow: inherit;
  position: relative;
  margin: 40px 20px; }

.percent {
  z-index: 10;
  max-width: 100%;
  min-width: 15%;
  height: 32px;
  background-color: #00c13c;
  border-radius: 20px;
  position: absolute;
  top: -14px;
  box-shadow: rgba(101, 101, 101, 0.8) 0px 3px 20px; }
  @media (max-width: 768px) {
    .percent {
      min-width: 30%; } }
  .percent .percent-number {
    text-align: center;
    position: relative;
    top: 15%;
    font-size: 14px;
    text-shadow: 1px 1px 1px #414141; }

.step1 {
  width: 10% !important;
  min-width: 10% !important; }
  @media (max-width: 768px) {
    .step1 {
      width: 20% !important;
      min-width: 20% !important; } }

footer {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%; }
  @media (max-width: 995px), (max-height: 900px) {
    footer {
      position: unset;
      margin-top: 50px; } }

.changeFooterClass {
  position: unset;
  margin-top: 50px; }

.hide {
  display: none; }

.show {
  display: block; }

.label-col {
  padding: 0;
  margin-top: 50px;
  margin-bottom: -10px; }

input[type="radio"] {
  clip: rect(0px, 0px, 0px, 0px);
  pointer-events: none;
  position: absolute; }

.alert {
  margin-top: -10px;
  margin-bottom: 20px;
  border-radius: 20px; }
  @media (max-width: 768px) {
    .alert {
      margin-top: 10px;
      margin-bottom: 15px; } }

label {
  display: contents;
  margin-bottom: .5rem; }

.show_buy_provider_lender .col-md-6 {
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: -10px; }
.show_buy_provider_lender select {
  margin-top: 10px; }
@media (max-width: 768px) {
  .show_buy_provider_lender {
    margin-top: 20px; } }

.price-input .form-group {
  position: relative;
  border-radius: 20px;
  margin: 20px 0px 50px 0px; }
  @media (max-width: 768px) {
    .price-input .form-group {
      margin-bottom: 20px; } }
  .price-input .form-group .alert {
    margin-top: 30px; }
.price-input .input-group-addon {
  display: inline-block;
  width: 15%;
  padding: 8px 7px;
  height: 45px;
  -webkit-appearance: none;
  padding: 12px 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-right: 0px;
  border-radius: 20px 0px 0px 20px;
  white-space: nowrap; }
.price-input .form-control {
  display: inline-block;
  width: 85%;
  position: absolute;
  height: 45px;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0px 20px 20px 0px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
.price-input i.fa-pound-sign {
  color: #1a4b81; }

.postcode-input {
  width: 80%;
  margin: 0 auto; }
  .postcode-input .form-group {
    position: relative;
    border-radius: 20px;
    margin: 20px 0px 50px 0px; }
    @media (max-width: 768px) {
      .postcode-input .form-group {
        margin-bottom: 20px; } }
  .postcode-input .form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 20px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
  .postcode-input .alert {
    margin-top: 30px; }

textarea.extrainfo {
  width: 100%;
  padding: 20px;
  border: unset;
  border-radius: 20px;
  color: #1a4b81;
  box-shadow: rgba(101, 101, 101, 0.8) 0px 3px 20px;
  margin-bottom: 25px; }

div.about_me_wrapper {
  width: 60%;
  margin: 0 auto; }
  div.about_me_wrapper input {
    width: 100%;
    border: unset;
    border-radius: 10px;
    height: 45px;
    padding: 10px;
    margin-top: 3px;
    color: #1a4b81;
    box-shadow: rgba(101, 101, 101, 0.8) 0px 3px 20px; }
  div.about_me_wrapper .submit-form {
    margin-top: 40px; }
    @media (max-width: 768px) {
      div.about_me_wrapper .submit-form .btn-next {
        margin: unset; } }
  div.about_me_wrapper p {
    margin-top: 30px; }
  div.about_me_wrapper a,
  div.about_me_wrapper a:hover {
    color: white;
    text-decoration: underline; }
  div.about_me_wrapper .alert {
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px; }

@media (max-width: 768px) {
  div.about_me_wrapper {
    width: 80%; } }
p.route {
  margin-bottom: unset; }

.green {
  color: #00c13c; }

.border_wrapper {
  border-radius: 20px;
  position: inherit; }

.red_border {
  border: 1px solid red !important; }

.submit-successful .table {
  color: white;
  white-space: nowrap; }
  .submit-successful .table th {
    background: #00c13c;
    text-shadow: 1px 1px 1px #414141;
    font-weight: normal; }
.submit-successful h6 {
  margin: 40px 0px 20px 0px; }
.submit-successful .btn-next {
  width: 100%;
  background-color: #00c13c;
  color: white;
  border-radius: 30px;
  box-shadow: rgba(101, 101, 101, 0.8) 0px 3px 20px;
  text-shadow: 1px 1px 1px #414141; }
.submit-successful .fa-arrow-right {
  margin-left: 5px; }
@media (max-width: 768px) {
  .submit-successful .btn-next {
    margin: 10px 15px; } }

@media (min-width: 965px) {
  .first-page {
    margin-top: 40px; } }

/*# sourceMappingURL=index.css.map */
